<div id="header">
<h1>Welcome to <%= pageTitle; %></h1>
<nav>
  <ul>
    <li>
      <a href="add.ejs">Add</a>
    </li>
    
    <li>
      <a href="addmore.ejs">Addmore</a>
    </li>
    
    <li>
      <a href="remove.ejs">Remove</a>
    </li>

    <li>
      <a href="/">Home</a>
    </li>
  </ul>

</nav>
</div>